
#products {
    font-family: 'Source Sans Pro';
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    
  }
  
  #products td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #products tr:nth-child(even){background-color: #f2f2f2;}
  
  #products tr:hover {background-color: #ddd;}
  
  #products th {
    padding-top: 12px;
    
    padding-bottom: 12px;
    background-color: #4d4dff;
    color: white;
  }
