 /* Add a light blue background to the entire page */
 body {


    top: 0;
    height: 100vh;

    display: flex;
    background: linear-gradient(black, white)
        /* You can adjust the color code as needed */
}

/* Style the container for the links on the left */
.sidebar {
    background-color: #f0f8ff;
    float: left;
    width: 13%;
    padding-bottom: 3%;

    margin-left: 6%;
    height: 70%;
    margin-top: 5%;
    padding-left: 5%;
    border-right: 5px solid white;
    box-shadow: 5px 5px 5px 5px;
    background: linear-gradient(beige, #0866c6);
    overflow-y: scroll;
}

/* Style the links in the sidebar */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}



/* Style the container for the chart on the right */
.chart-container {
    float: left;
    width: 70%;
    height: 70%;
    margin-top: 5%;
    background-color: #f0f8ff;
    padding-bottom: 3%;
    box-shadow: 5px 5px 5px 5px;
    background-color: beige;
    background: linear-gradient(beige, #ffffff) /* You can adjust the color code as needed;;; */;
    z-index:+5;
}

li {
    font-size: 13px;
}

.sidebar ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    /* Add bullet points */
}

.nav-link {
    text-decoration: underline;
    color: blue;
}

.nav-link.active {
    text-decoration: none;
    font-weight: bold;
    color: rgb(173, 38, 38); /* You can change the color when a link is active */
}
h2
{
    margin-left:-10%;
}

#myChart .chartjs-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36px; /* Adjust the font size as needed */
}
#ChartTitle{
    text-align: center;
    font-size: 26px;
    
    
font-weight:bold;

}