/* Add a light blue background to the entire page */
body {
    top: 0;
    height: 100vh;
    display: flex;
    background: linear-gradient(#90b9cc, #efdcce); /* You can adjust the color code as needed */
}

/* Style the container for the links on the left */
.sidebar {
    background: linear-gradient(beige, #90b9cc);
    float: left;
    width: 13%;
    padding-bottom: 3%;
    margin-left: 6%;
    height: 70%;
    margin-top: 5%;
    padding-left: 5%;
    border-right: 5px solid white;
    box-shadow: 5px 5px 5px 5px;
    overflow-y: scroll;
}

/* Style the links in the sidebar */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 12px;
    font-size: 14px;
    list-style-type: disc;
    margin-left:2%; /* Add bullet points */
}

.sidebar a {
    text-decoration: none;
    color: #444;
}

/* Style the container for the chart on the right */
.chart-container {
    float: left;
    width: 70%;
    height: 70%;
    margin-top: 5%;
    padding-bottom: 3%;
    box-shadow: 5px 5px 5px 5px;
    background: linear-gradient(beige, #ffffff); /* You can adjust the color code as needed */
    z-index: 5;
}

/* General style for list items */
li {
    font-size: 14px;
    margin-bottom: 12px;
}

/* Style for navigation links */
.nav-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Style for active navigation link */
.nav-link.active {
    text-decoration: underline;
    color: rgb(173, 38, 38); /* You can change the color when a link is active */
}

/* Styles for chart title */
#myChart .chartjs-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as needed */
}

#ChartTitle {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* Style for the year button */
.year-button {
    background-color: #90b9cc;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 4px;
    cursor: pointer;
}
h2 {
    color: #90b9cc; /* Heading color for Opportunity For Improvement and Customer Complaints */
}
/* Style each section box */
.section-box {
    background-color: #f0f8ff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: -25%;
    position: relative;
    margin-top: 10%;
    
}
